html{height:100%;background:#2b275d}

#cloud-dark{width:100%;height:70vh;position: absolute;z-index:1;top:0;left:0;
background:url('img/cloud-dark.svg') repeat-x left;
-webkit-animation: AnimationName 40s linear infinite;
-moz-animation: AnimationName 40s linear infinite;
-o-animation: AnimationName 40s linear infinite;
animation: AnimationName 40s linear infinite;
}

#cloud-white{width:100%;height:70vh;position: absolute; z-index:20;top:0;left:0;
  background:url('img/cloud-white.svg');
  -webkit-animation: AnimationName 20s linear infinite;
  -moz-animation: AnimationName 20s linear infinite;
  -o-animation: AnimationName 20s linear infinite;
  animation: AnimationName 20s linear infinite;
}

@-webkit-keyframes AnimationName {
  from { background-position: 0 0; }
  to { background-position: -100% 0; }
}
@-moz-keyframes AnimationName {
  from { background-position: 0 0; }
  to { background-position: -100% 0; }
}
@-o-keyframes AnimationName {
  from { background-position: 0 0; }
  to { background-position: -100% 0; }
}
@keyframes AnimationName {
  from { background-position: 0 0; }
  to { background-position: -100% 0; }
}

.mountains{position:absolute;z-index:5;background:url('img/mountains.svg') repeat-x left;width:100%;height:93px;bottom:180px}
.tree{position:absolute;z-index:7;background:url('img/tree.svg') repeat-x center bottom;width:100%;height:182px;bottom:0}
.tree2{position:absolute;z-index:5;background:url('img/tree.svg') repeat-x left bottom;width:100%;height:112px;bottom:50px;opacity:0.88}
.moon{position:absolute;z-index:2;background:url('img/moon.svg') no-repeat center;width:320px;height:320px;top:100px;margin:0 auto;left:0;right:0}